* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #1F2937;
}
.right-links{
    display: flex;
    gap: 50px;
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-color: #1F2937;
}

.first-left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
    flex-basis: 600px;
}

.sign-up{
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #3882F6;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.food-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.food-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 150px;
}



.third-section{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #E5E7EB;
}
.third-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    gap: 5px;
}
.quote-name{
    align-self: flex-end;
    color: black;
    font-weight: 600;
}

.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.fourth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 30px 160px;
    background-color: #3882F6;
    border-radius: 7px;
}
.action-call{
    color: white;
}
.action-description{
    color: white;
}
.sign-up-footer{
    background-color: #3882F6;
    border: white solid 1px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
h3{
    font-size: 24px;
    color: #F9FAF8;
}
h4{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
h5{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: lightgray;
    background-color: #1F2937;
}

img{
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.food-img{
    width: 150px;
    height: 150px;
    border: #3882F6 solid 1.5px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.title-description{
    font-size: 18px;
    color: #E5E7EB;
}
p{
    font-size: 18px;
    color: #7287a8;
    text-align: center;
}