body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #1F2937;
}
.right-links{
    display: flex;
    gap: 30px;
}

.first-section{
    background-color: #1F2937;
}

.third-section{
    background-color: #E5E7EB;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
h3{
    font-size: 24px;
    color: #F9FAF8;
}
h4{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
h5{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    background-color: #1F2937;
}

button{
    background-color: #3882F6;
}

img{
    width: 300px;
    height: auto;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
p{
    font-size: 18px;
    color: #E5E7EB;
}